@import "tailwindcss";

:root {
  --primary-blue: #0070dc;
  --primary-yellow: #facc15;
  --dark-btn: #041e42;
  --icon-color: #99a1af;
}

@theme inline {
  --color-primary-blue: var(--primary-blue);
  --color-primary-yellow: var(--primary-yellow);
  --color-dark-btn: var(--dark-btn);
  --color-icon-color: var(--icon-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-blue: #0070dc;
    --primary-yellow: #facc15;
    --dark-btn: #041e42;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-yellow);
}

::-webkit-scrollbar-track {
  background-color: var(--icon-color);
}

body {
  font-family: var(--font-roboto), Helvetica, sans-serif;
}

@layer components {
  .c-container {
    @apply xl:w-[80%] lg:w-[90%] w-full px-[15px] mx-auto;
  }

  .dual-center {
    @apply flex items-center justify-between px-4 py-2 rounded-md shadow-md w-full;
  }

  .center {
    @apply flex items-center gap-4;
  }

  .btn-shop {
    @apply py-2 px-3 bg-sky-400 rounded-full max-lg:rounded-md text-white whitespace-nowrap;
  }

  .bg-same {
    @apply w-full h-[230px]  bg-cover bg-center object-contain relative rounded-md overflow-hidden;
  }
}

a,
button {
  cursor: pointer;
}
