@import "tailwindcss";

:root {
  --primary-blue: #0070dc;
  --primary-yellow: #facc15;
  --dark-btn: #041e42;
  --icon-color: #99a1af;
}

@theme inline {
  --color-primary-blue: var(--primary-blue);
  --color-primary-yellow: var(--primary-yellow);
  --color-dark-btn: var(--dark-btn);
  --color-icon-color: var(--icon-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-blue: #0070dc;
    --primary-yellow: #facc15;
    --dark-btn: #041e42;
  }
}

body {
  font-family: var(--font-roboto), Helvetica, sans-serif;
}

@layer components {
  .c-container {
    @apply xl:w-[80%] lg:w-[90%] w-full px-[15px] mx-auto;
  }
}

a,
button {
  cursor: pointer;
}
